.checkout {
  display: flex;
  padding: 20px;
  flex-direction: column;
  background-color: white;
  height: max-content;
}
.leftRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-ad {
  width: 100%;
  margin-bottom: 10px;
  height: 150px;
}

.checkout-title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
