.scroll-to-top {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .back-top-container {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 40px;
    text-align: center;
    width:1220px;
    background-color: #37475a;
    color: white;
    margin-left: 10px;
  }
  